@CHARSET "UTF-8";

div#tableBody {
  width: 60em;
  padding: 0.3em;
}
table {
  width: 100%;
}
table th {
  padding: 0.3em;
}
table th span {
  float:right;
}
table tr.odd {
  background-color: #FFFFFF;
}

