<div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Reformed Churches Locator</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/find_a_church" id="find_a_church">Find a church</a></li>
        <li><a href="/import_directory" id="import_directory">Import a directory</a></li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Delete: 
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
                <li><a href="#" id="delete_all_docs">All docs</a></li>
                <li><a href="#" id="delete_all_opc_cgroups">OPC cgroups</a></li>
                <li><a href="#" id="delete_all_directories">Directories</a></li>
                <li><a href="#" id="delete_all_caney_opc">Caney OPC</a></li>
                <li><a href="#" id="delete_all_opc_data">OPC data</a></li>
                <li><a href="#" id="delete_all_pca_data">PCA data</a></li>
                <li><a href="#" id="delete_all_rpcna_data">RPCNA data</a></li>
            </ul>
        </li>
      </ul>
      <div class="navbar-right">

          <div class="hoodie-accountbar">

              <div class="hoodie-account-signedout">
                <span class="btn-group">
                  <button class="btn btn-sm btn-default" data-hoodie-action="signup">Sign Up</button>
                  <button class="btn btn-sm dropdown-toggle btn-default" data-toggle="dropdown">
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu pull-right">
                    <li><a href="#" data-hoodie-action="signin">Sign In</a></li>
                    <li><a href="#" data-hoodie-action="resetpassword">Reset Password</a></li>
                    <li><a href="#" data-hoodie-action="destroy">Clear local data</a></li>
                  </ul>
                </span>
              </div><!-- /.hoodie-account-signedout -->

              <div class="hoodie-account-signedin">
                Hello,
                <span class="hoodie-username"><!-- user name will be filled in here --></span>
                <span class="btn-group">
                  <button class="btn btn-sm btn-default" data-hoodie-action="signout">Sign Out</button>
                  <button class="btn btn-sm dropdown-toggle btn-default" data-toggle="dropdown">
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu pull-right">
                    <li><a href="#" data-hoodie-action="changepassword">Change Password</a></li>
                    <li><a href="#" data-hoodie-action="changeusername">Change Username</a></li>
                    <li><a href="#" data-hoodie-action="destroy">Destroy Account</a></li>
                  </ul>
                </span>
              </div><!-- /.hoodie-account-signedin -->

              <div class="hoodie-account-error">
                Hello,
                <span class="hoodie-username"><!-- user name will be filled in here --></span>.
                <span class="btn-group">
                  <button class="btn btn-sm btn-danger" data-hoodie-action="signin">Authentication error: Sign in again</button>
                  <button class="btn btn-sm dropdown-toggle btn-danger" data-toggle="dropdown">
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu pull-right">
                    <li><a href="#" data-hoodie-action="signout">Sign out</a></li>
                  </ul>
                </span>
              </div><!-- /.hoodie-account-error -->

          </div><!--/hoodieAccountBar -->

      </div>
    </div><!-- /.navbar-collapse -->
</div><!-- /.container-fluid -->