

/* ==========================================================================
   Author's custom styles
   TODO: Remove TurboGears styles after integrating HTML5 Boilerplate/Bootstrap
   ========================================================================== */

/* Login form*/

#loginform
{
    text-align: center;
}

form.loginfields
{
    text-align: left;
    width: 270px;
    background: url('../images/loginbg.png') top left no-repeat;
    padding: 0;
    margin: 0 auto;
    border: 0;
}

form.loginfields h2
{
    font-size: 16px;
    float: left;
    padding: 0;
    margin: 5px;
    margin-top: 0;
    background: url('../images/loginheader-left.png') top left no-repeat;
}

* html form.loginfields h2
{
    margin-left: 3px;
    width: 80px;
    text-align: center;
}

form.loginfields h2 span
{
    background: url('../images/loginheader-right.png') right top no-repeat;
    height: 30px;
    line-height: 30px;
    display: block;
    font-size: 100%;
    font-weight: normal;
    color: #fff;
    padding: 0 10px;
}

*+html form.loginfields h2 span
{
    padding: 0 20px;
}

form.loginfields label
{
    clear: left;
    float: left;
    margin-top: 5px;
    margin-left: 10px;
    width: 65px;
    line-height: 31px;
    vertical-align: middle;
}

form.loginfields input.text
{
    float: left;
    margin-left: 10px;
    margin-top: 5px;
    width: 165px;
    height: 21px;
    padding: 5px;
    border: 0;
    background: url('../images/inputbg.png') top left no-repeat;
    color: #fff;
}

form.loginfields #loginremember
{
    float:right;
    vertical-align: middle;
    height: 26px;
}

form.loginfields #labelremember 
{
    float: right;
    width: auto;
    margin:0;
    margin-right: 15px;
    vertical-align: middle;
}

form.loginfields input#submit
{
    background: url('../images/loginbottombg.png') bottom left no-repeat;
    width: 270px;
    height: 61px;
    border: 0;
    margin-top: 10px;
    color: #fff;
    padding: 10px 140px 20px 10px;
}

* html form.loginfields input#submit
{
    clear: both;
    margin-left: -10px;
}

/* Congregation list */

#congregation_list td {
    background-color: #F8F8F8;
    vertical-align: top;
}

#congregation_list th, #congregation_list td {
    padding: 0.5em;
}

#congregation_list th {
    background-color: #EFEFEF;
    text-align: center;
}

/*Put a box around the group filter*/
#group_filter {
    border: 1px solid grey;
    float: right;   
}

/* For download congs page */
.content_frame {
    width:900px;
    height:250px;
    overflow:scroll;
}
.content_frame_narrow {
    width:612px;
    margin-right: 1em;
}
#fields_container {
    width: 300px;
    float:right;
}
.field_row {
    clear: both;
}
.field_row:hover {
    background:#fffcce;
}
.field_row>div {
    display:inline-block;
    vertical-align:top;
}
.field_row div:first-child {
    float:left;
    width:140px;
}
.field_selected {
    border: 1px dotted blue;
    border-radius: 5px;
}
.regex_section {
    margin-top: 1em;
}

/* Jasmine HTMLReporter */
.navbar-inner .container .jasmine_reporter {
    float:right;
}

/* Radio button fix */
#steps input+label {
    display:inline;
    vertical-align:text-top;
}
#steps label {
    margin-left:1em;
}
