/* Search page */

.radius {
    width: 5em;
}
.units {
    width: 5em;
}

/*Put a box around the group filter*/
#group_filter {
    border: 1px solid grey;
    float: right;   
}

/* For download congs page */
.content_frame {
    width:900px;
    height:250px;
    overflow:scroll;
}
.content_frame_narrow {
    width:612px;
    margin-right: 1em;
}
#fields_container {
    width: 300px;
    float:right;
}
.field_row {
    clear: both;
}
.field_row:hover {
    background:#fffcce;
}
.field_row>div {
    display:inline-block;
    vertical-align:top;
}
.field_row div:first-child {
    float:left;
    width:140px;
}
.field_selected {
    border: 1px dotted blue;
    border-radius: 5px;
}
.regex_section {
    margin-top: 1em;
}

/* Jasmine HTMLReporter */
body>.container .jasmine_reporter {
    position:relative;
    top:50px;
}
.symbolSummary li {
    display:inline;
}

/* Radio button fix */
#steps input+label {
    display:inline;
    vertical-align:text-top;
}
#steps label {
    margin-left:1em;
}
