/* ==========================================================================
   Hoodie Sign In / Sign Up / Sign out stylings
   ========================================================================== */

.container {
  position: relative;
  background: #fff;
  margin-top: -10px;
  box-shadow: 0 0 10px rgba(0,0,0,.5);
}


/* hide contents until we know if user is signed in or not */
body .hoodie-account-signedin,
body .hoodie-account-signedout,
body .hoodie-account-error {
  display: none;
}

html[data-hoodie-account-status=signedin]  .hoodie-account-signedin,
html[data-hoodie-account-status=error]     .hoodie-account-error,
html[data-hoodie-account-status=signedout] .hoodie-account-signedout {
  display: block;
}

.hoodie-accountbar {
  position: absolute;
  top: 10px;
  right: 10px;
}
.modal .form-group{
    margin-bottom: 0px;
    line-height: .8em;
}
.content {
  padding: 10px;
}
.code {
  margin: 0 0 0 400px;
  position: relative;
}
.code:before {
  content: 'main.js';
  display: block;
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 48px;
  font-family: "Arial Black", sans-serif;
  color: rgba(255, 255, 255, 0.1);
}

.code pre {
  border-radius: 0;
  border-width: 0 0 0 1px;
  margin: 0;
  padding-left: 20px;
}

.copy {
  padding: 10px;
  margin: 30px 0 0;
  border-radius: 5px;
}
.jumbotron,
.copy {
  margin: 0;
  border-radius: 0;
}
.copy p {
  margin: 0;
}
/* End Hoodie CSS */

/* Jasmine HTMLReporter */
body>.container .jasmine_reporter {
    position:relative;
    top:50px;
}
.symbolSummary li {
    display:inline;
}

/* Search page */

.radius {
    width: 5em;
}
.units {
    width: 5em;
}

/*Put a box around the group filter*/
#group_filter {
    border: 1px solid grey;
    float: right;   
}

/* Import a directory page */

/* Initial buttons */

.geocode_stats {
    float:right;
    background-color: lightgray;
    padding: 0 1.5em 1.5em 1.5em;
    margin: 1em;
    border-radius: 0.8em;
    border: 2px dotted gray;
}
.geocode_stats tr td:last-child {
    padding-left: 0.5em;
    color: green;
}

/* For download congs page */
.content_frame {
    width:900px;
    height:250px;
    overflow:scroll;
}
.content_frame_narrow {
    width:612px;
    margin-right: 1em;
}
#fields_container {
    width: 300px;
    float:right;
}
.field_row {
    clear: both;
}
.field_row:hover {
    background:#fffcce;
}
.field_row>div {
    display:inline-block;
    vertical-align:top;
}
.field_row div:first-child {
    float:left;
    width:140px;
}
.field_selected {
    border: 1px dotted blue;
    border-radius: 5px;
}
.regex_section {
    margin-top: 1em;
}

/* Radio button fix */
#steps input+label {
    display:inline;
    vertical-align:text-top;
}
#steps label {
    margin-left:1em;
}
/* File input fix to give it Bootstrap styling */
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
.importio_drop_target {
    border: 2px dotted lightgray;
    padding: .5em;
    border-radius: 0.5em;
    color: lightgray;
}
.importio_drop_target:hover{
    border: 2px dotted blue;
    color: blue;
}
.dragover {
    border: 2px dotted blue;
    color: blue;
}
.dropped, .importio_drop_target:hover.dropped {
    border: 2px dotted white;
    background-color: lightgreen;
    color: white;
}

/* CGroup.html */

.cgroup_div button {
    margin-top: .7em;
}