<div class="navbar-inner">
    <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </a>
        <a class="brand" href="#">Reformed Churches<br />Locator</a>
        <div class="nav-collapse collapse">
            <ul class="nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="/find_a_church" id="find_a_church">Find a church</a></li>
                <li><a href="/import_directory" id="import_directory">Import a directory</a></li>
                <li class="dropdown">
                    <a id='delete_all_docs' href="#" class="dropdown-toggle" data-toggle="dropdown">Delete all: <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#" id="delete_all_docs">Delete all:</a></li>
                        <li><a href="#" id="delete_all_opc_cgroups">OPC cgroups</a></li>
                        <li><a href="#" id="delete_all_directories">directories</a></li>
                        <li><a href="#" id="delete_all_caney_opc">Caney OPC</a></li>
                        <li><a href="#" id="delete_all_opc_data">OPC data</a></li>
                    </ul>
                </li>
            </ul>
            <form class="navbar-form pull-right">
                <input class="span2" type="text" placeholder="Email">
                <input class="span2" type="password" placeholder="Password">
                <button type="submit" class="btn">Sign in</button>
            </form>
        </div><!--/.nav-collapse -->
    </div>
</div>
