            <table id="congregation_list" class="tablesorter">
                <thead>
                    <tr>
                        <th>Congregation name</th>
                        <th>City, State</th>
                        <th>Contact info</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="odd">
                        <td class="cong_info"><a href="http://127.0.0.1:8080/cong/1">Caney
                        OPC</a></td>
                        <td class="cong_info">Caney, KS, US</td>
                        <td class="cong_info"><a href="http:" class="external"
                        title="Visit Caney OPC online" target="_blank"></a></td>
                    </tr>
                    <tr class="even">
                        <td class="cong_info">
                         <a href="http://127.0.0.1:8080/cong/2">CrossPoint Baptist Church</a></td>
                        <td class="cong_info">Caney, KS, US</td>
                        <td class="cong_info">
                         <a href="http:" class="external" title="Visit CrossPoint Baptist Church online" target="_blank"></a>
                        </td>
                    </tr>
                </tbody>
            </table>
