<h2>Step 5:  Select congregation details</h2>
<p>
    <ul>
        <li>
            The interface below allows you to tell us where each piece of data about this congregation is located 
            in the HTML of the page.
        </li>
        <li>
            For each field listed below, please click in the field's text box, then highlight that field's content where
            it appears in the page below.
        </li>
        <li>
            Please edit this regular expression.  [Explain how here, using explanation found in RegexEditor.html.]  You can read documentation about the regular expression syntax at
            <a href="http://www.w3schools.com/jsref/jsref_obj_regexp.asp" target="_blank">W3Schools</a> and <a href="https://developer.mozilla.org/en-US/docs/JavaScript/Guide/Regular_Expressions" target="_blank">Mozilla Developer Network</a>.
        </li> 
    </ul>
</p>
<div>
    <div id='fields_container'>
        <a href='#' class='popover'></a>
    </div>
    <div id='cong_details_fields_selector' class='content_frame content_frame_narrow'>
        <a href='#' class='popover'></a>
    </div>
</div>
