<h2>Step 1:  Please enter the URL of the church directory page or data (RSS, JSON, KML) feed</h2>
<input type='text' name='url' id='url' value='http://opc.org/locator.html'/>
<div id='rss_feed' style='display:none'>
    <h2>RSS feed - Does the data below look correct?</h2>
    <div id='rss_data_formatted'></div>
    <input type='radio' name='rss_data_correct' value='yes' />Yes<br />
    <input type='radio' name='rss_data_correct' value='no' />No
</div>
<p>Please enter the name of this directory's denomination or group of congregations</p>
<input type='text' name='cgroup_name' id='cgroup_name' value='Orthodox Presbyterian Church'/>
<p>Please enter an abbreviation for this denomination or group of congregations</p>
<input type='text' name='abbreviation' id='abbreviation' value='OPC'/>
