<div>
    <input placeholder="Enter location" title="Enter location" type="text" name="location" class="location">
    Search within
    <select title="Search within" name="radius" class="radius">
        <option value="5">5</option>
        <option value="10">10</option>
        <option value="25">25</option>
        <option value="50" selected="selected">50</option>
        <option value="100">100</option>
        <option value="250">250</option>
    </select>
    <select title="unit of measurement" name="units" class="units"> 
        <option value="km">km</option>        
        <option value="miles">miles</option>

    </select>
    <input type="button" value="Search" class="search">
    <br />
    <input placeholder="Enter keyword" title="Enter keyword" type="text"
                    name="keyword" id="keyword">
</div>
<div id="group_filter">
    Filter: 
    <div> 
    </div>
</div>
