<label for='cgroup_name'>Please enter the name of this directory's denomination or group of congregations</label>
<input type='text' name='cgroup_name' id='cgroup_name' class='cgroup_name form-control' 
    placeholder='Name (e.g., Orthodox Presbyterian Church)' />
<label for='abbreviation'>Please enter an abbreviation for this denomination or group of congregations</label>
<input type='text' name='abbreviation' id='abbreviation' class='abbreviation form-control'
    placeholder='Abbreviation (e.g., OPC)' />
