<h2>Step 1:  Please enter the URL of the church directory page or data (RSS, JSON) feed</h2>
<form role="form">
    <div class="form-group has-feedback">
        <input type='text' name='url' id='url' class='typeahead form-control' placeholder='Enter directory URL' value='http://opc.org/locator.html'/>
        <span class="glyphicon glyphicon-remove form-control-feedback"></span>
        <span class="help-block"></span>
    </div>
</form>
<div id='rss_feed' style='display:none'>
    <h2>RSS feed - Does the data below look correct?</h2>
    <div id='rss_data_formatted'></div>
    <input type='radio' name='rss_data_correct' value='yes' />Yes<br />
    <input type='radio' name='rss_data_correct' value='no' />No
</div>
<div style='display:none'>
    <p>Please enter the name of this directory's denomination or group of congregations</p>
    <input type='text' name='cgroup_name' id='cgroup_name' value='Reformed Presbyterian Church of North America'/>
    <p>Please enter an abbreviation for this denomination or group of congregations</p>
    <input type='text' name='abbreviation' id='abbreviation' value='RPCNA'/>
</div>
